<div class="flex justify-center">
  <p-card
    header="Welcome back"
    subheader="Sign in with your email to continue."
    styleClass="p-4"
  >
    <form class="p-fluid">

      <div class="field mb-3">
        <label for="email">Email</label>
        <input
          id="email"
          pInputText
          type="email"
          placeholder="Enter your email"
        />
      </div>

      <div class="field mb-3">
        <div class="flex justify-between mb-2">
          <label for="password">Password</label>
          <button
            pButton
            type="button"
            label="Forgot password?"
            class="p-button-text p-button-sm">
          </button>
        </div>

        <input
          id="password"
          pInputText
          type="password"
          placeholder="Enter your password"
        />
      </div>

    </form>

    <ng-template pTemplate="footer">
      <div class="flex flex-column gap-2">
        <button
          pButton
          label="Login">
        </button>

        <button
          pButton
          label="Login with Google"
          severity="secondary"
          [outlined]="true">
        </button>

        <div style="text-align:center; margin-top:10px;">
          Don't have an account?
          <button
            pButton
            type="button"
            label="Sign up"
            class="p-button-text p-button-sm">
          </button>
        </div>
      </div>
    </ng-template>

  </p-card>
</div>